<li>
  <span class="content"><%= wrap(micropost.content) %></span>
  <span class="timestamp">
    <!-- time_ago_in_wordsはDateHelperクラスのメソッド -->
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <!-- exercise10.5.5 objectをpartialに渡すことで、_feed_item.html.erbと共通に使える -->
  <%= render 'shared/delete_micropost', object: micropost %>
</li>
