<li>
  <%= link_to gravatar_for(message.user), message.user %>
  <span class="content"><%= wrap(message.content) %></span>
  <span class="timestamp">
    <!-- time_ago_in_wordsはDateHelperクラスのメソッド -->
    Posted <%= time_ago_in_words(message.created_at) %> ago.
  </span>
</li>
