<!-- 複数のコントロールに渡るビューに対するパーシャルは、専用のsharedディレクトリを使う -->

<!-- anyメソッドは一つでも要素がある場合はtrue -->
<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <!-- pluaralizeは、第一引数に数字を渡すと、それに基づいて2番目の引数の複数形に変更したものを返す、TextHelper -->
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
